doctype html
html
  head
    meta(name="blitz" content="mu-1741bce9-51fda5c2-cc8b0e43-45c07d11")
    title= title
    link(rel='stylesheet',href='/stylesheets/style.css')
    script(src='/javascripts/jquery-1.10.2.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/hover_tracking.js')

  body
    block content